<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admindashboard</title>
    <link rel="stylesheet" href="{% static 'css/admindashboard.css' %}">
</head>

<body>
    {% include 'activities/navadmin.html' %}
    <div class="text">Dashboard</div>
    <hr>
    <div class="mains">
        <div class="details">

            <div class="totals">
                <a class="links" href="/active" style="text-decoration: none;">
                    <h1>{{count6}}</h1>
                </a>

                <p>TOTAL SCHOLARS</p>

            </div><br>&nbsp;
            <div class="totals">
                <a class="links" href="/approval" style="text-decoration: none;">
                    <h1>{{count5}}</h1>
                </a>
                <p>PENDING APPLICATIONS</p>

            </div><br>&nbsp;
            <div class="totals">
                <a class="links" href="/graduate" style="text-decoration: none;">
                    <h1>{{count7}}</h1>
                </a>
                <p>GRADUATED SCHOLARS</p>

            </div><br>&nbsp;


        </div>




    </div>


</body>

</html>