<!DOCTYPE html>{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>
    <link rel="stylesheet" href="{% static 'css/announcements.css' %}">

</head>

<body>
    {% include 'activities/navadmin.html' %}
    <div class="text">Announcements</div>
    <hr>
    <h1 class="uppertit">Type your Announcements here</h1><br>
    <form class="inner" action="{% url 'activities:announcements' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="texts">

            <textarea rows="4" cols="100" name="announce_data" placeholder="Content" class="content" required></textarea>
            <div class="btns">
                <button type="submit" class="post">Post</button>

            </div>
        </div>

    </form><br>
    <div class="home">

        <h1 class="uppertit">View Announcements here</h1><br>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">Content</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for n in announcementss %}
                <form action="{% url 'activities:delete' n.id %}" method="POST" id="myform">
                    {% csrf_token %}
                    <tr>
                        <th class="the" scope="row" id="edit2"><textarea class="edits" type="text" value="{{n.content}}" name="anscontent">{{n.content}}</textarea></th>

                        <td class="butones">

                            <button class="delete" disabled><a style="text-decoration:none" value="{{n.id}}"  onclick="confirm()"> Delete</a></button>

                            <input type="hidden" name="ansID" value="{{n.id}}"><button type="submit" class="update">Update</button>
                        </td>

                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>


    </div>




    <script>
        function confirm() {
            swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        document.querySelector('#myform').submit();
                        swal("Your Announcement has been deleted!", {
                            icon: "success",
                        });
                    } else {
                        swal("Cancelled!", {
                            icon: "error",
                        });
                    }
                });
        }
    </script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</body>

</html>