<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>approved</title>
    <link rel="stylesheet" href="{% static 'css/approved.css' %}">

</head>

<body>
    {% include 'activities/navadmin.html' %}
    <div class="split" id="split">
        <div class="text">Approved</div>
        <a href="/email" target="_blank"><button type="button" class="btn btn-info" id="btn"><i class="bi bi-envelope">  Go to Email</i></button></a>
    </div>

    <hr>
    <div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Full name</th>
                    <th scope="col">School</th>
                    <th scope="col">Year/Grade</th>
                    <th scope="col">Course</th>
                    <th scope="col">Email</th>
                    <th scope="col">Options</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                {% for k in approved %}
                <tr>
                    <th scope="row"><a href="{% url 'activities:revprofile' k.id%}" target="__blank">{{k.firstname}} {{k.lastname}}</a></th>
                    <td>{{k.school}}</td>
                    <td>{{k.year}}</td>
                    <td>{{k.course}}</td>
                    <td>{{k.email}}</td>
                    <form action="{% url 'activities:update1' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <td>
                            <select name="stats1">
                                <option value="GRADUATE">GRADUATE</option>
                                <option value="TERMINATED">TERMINATE</option>
                            </select>
                        </td>
                        <td>
                            <input type="hidden" name="getID1" value="{{k.id}}"><button type="submit" class="btn btn-success"><i class="bi bi-check-circle-fill"> Update</i></button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        document.getElementById("element").style.display = "none";
    </script>
</body>

</html>