<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>approval</title>
    <link rel="stylesheet" href="{% static 'css/approval.css' %}">

</head>

<body>
    {% include 'activities/navadmin.html' %}
    <div class="text">Pending Applications</div>
    <hr>
    <div>

        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Full name</th>
                    <th scope="col">School</th>
                    <th scope="col">Year /Grade</th>
                    <th scope="col">Course</th>
                    <th scope="col">Email</th>
                    <th scope="col">Options</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for k in approvals %}
                <tr>
                    <th scope="row"><a href="{% url 'activities:revprofile' k.id%}" target="__blank">{{k.firstname}} {{k.lastname}}</a></th>
                    <td>{{k.school}}</td>
                    <td>{{k.year}}</td>
                    <td>{{k.course}}</td>
                    <td>{{k.email}}</td>
                    <form action="{% url 'activities:approval' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <td>
                            <select name="status1" id="status">
                                <option selected="selected" disabled>Select</option>
                                <option value="APPROVED">APPROVED</option>
                                <option value="DECLINED">DECLINED</option>
                            </select>
                        </td>
                        <td>
                            <input type="hidden" name="getID3" value="{{k.id}}"><button type="submit" class="btn btn-success"><i class="bi bi-check-circle-fill"> Update</i></button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>