<!DOCTYPE html> {% load static %}
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


    <!--<title>Dashboard Sidebar Menu</title>-->
    <title>Edit Profile</title>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                {% for n in edit %}
                <span class="image">
                    <img  src="{{n.picture.url}}" alt="profile-pic" style="width: 50px; height:50px; border-radius:50%;">
                </span>

                <div class="text logo-text">

                    <span class="name">{{n.firstname}} {{n.lastname}}</span>
                    <span class="job" style="text-align:center;">student</span>

                </div>
                {% endfor %}
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/dashboard">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/editprofile">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Edit Profile</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/student_announce">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Announcements</span>
                        </a>
                    </li>


                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout_user">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav><br>

    <section class="home">
        <div class="text" style="color: #387b3a;">Profile</div>
        <hr>
        <br>
        <div class="conts">



            <form action="{% url 'activities:edit' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {% for p in edit %}
                <div class="inner">
                    <a href="/editfile" style="text-decoration: none;" class="edi" target="_self"><i class="bi bi-pencil-square"></i>   Edit Profile</a>

                    <div class="left">

                        <img src="{{p.picture.url}}" alt="profile-pic" style="width: 150px; height:150px; " class="profile"><br><br><br>

                        <h class="name">{{p.firstname}} {{p.lastname}}</h><br>
                        <label for="name" id="label">e-Scholarship Benefactor</label>
                    </div>

                    <div class="right">
                        <!-- <h class="name">{{p.firstname}} {{p.lastname}}</h><br> -->
                        <label for="name" id="label"> Personal Information</label>
                        <hr style="width: 100%;"><br>
                        <div class="about">
                            <label>Email</label>
                            <p class="email">{{p.email}}</p>&nbsp;<br>

                            <label>Cellphone</label>
                            <p class="email">{{p.cellphone}}</p>&nbsp;<br>

                            <label>Age</label>
                            <p class="email">{{p.age}}</p>&nbsp;<br>

                            <label>Civil Status</label>
                            <p class="email">{{p.civil}}</p>&nbsp;<br>

                            <label>Address</label>
                            <p class="email">{{p.barangay}} {{p.municipality}} {{p.province}}</p>&nbsp;<br>

                            <label>Birthday</label>
                            <p class="email">{{p.birthday}}</p>&nbsp;<br>

                            <label>Religion</label>
                            <p class="email">{{p.religion}}</p>&nbsp;<br>

                            <label>Gender</label>
                            <p class="email">{{p.gender}}</p>&nbsp;<br>&nbsp;<br>






                            <label for="name" id="label"> Family Background</label>
                            <hr style="width: 100%;"><br>
                            <!-- 
                            father -->
                            <label>Father's Name</label>
                            <p class="email">{{p.fname}}</p>&nbsp;<br>

                            <label>Father's Contact</label>
                            <p class="email">{{p.fcontact}}</p>&nbsp;<br>

                            <label>Father's Occupation</label>
                            <p class="email">{{p.foccupation}}</p>&nbsp;<br>

                            <!-- MOTHER -->

                            <label>Mother's Name</label>
                            <p class="email">{{p.mname}}</p>&nbsp;<br>

                            <label>Mother's Contact</label>
                            <p class="email">{{p.mcontact}}</p>&nbsp;<br>

                            <label>Mother's Occupation</label>
                            <p class="email">{{p.moccupation}}</p>&nbsp;<br>
                            <hr style="width: 100%;"><br>


                            <label>Family Income</label>
                            <p class="email">{{p.income}}</p>&nbsp;<br>











                        </div>

                    </div>


                </div>






                {% endfor %}
            </form>
        </div>

        <!-- 
        MODAL -->

        <!-- END MODAL -->








    </section><br>



    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })



        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>






</body>

</html>