<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <!-- 

    sample -->



</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                {% for n in info1 %}
                <span class="image">
                    <img  src="{{n.picture.url}}" alt="profile-pic" style="width: 50px; height:50px; border-radius:50%;">
                </span>

                <div class="text logo-text">

                    <span class="name">{{n.firstname}} {{n.lastname}}</span>
                    <span class="job" style="text-align:center;">student</span>

                </div>
                {% endfor %}
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/dashboard">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/editprofile">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Edit Profile</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/student_announce">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Announcements</span>
                        </a>
                    </li>


                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout_user">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav><br>

    <section class="home">
        <div class="text" style="color: #387b3a;">Edit Profile</div>
        <hr>
        <br>
        <div class="conts">

            <form action="{% url 'activities:editable' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {% for p in info1 %}
                <div class="inner">


                    <div class="left">

                        <div class="profile-pic-div">
                            <img src="{{p.picture.url}}" alt="profile-pic" class="profile" id="photo"><br><br><br>


                        </div>

                        <div class="names">
                            <h class="name">{{p.firstname}} {{p.lastname}}</h><br>
                            <label for="name" id="label">e-Scholarship Benefactor</label>
                        </div>

                    </div>

                    <button type="submit" class="edi" target="_self"><i class="bi bi-check-circle"></i>   Save</button>
                    <a href="/editprofile" style="text-decoration: none;" class="cancel" target="_self"><i class="bi bi-x-circle"></i>  Cancel</a>
                    <div class="right">
                        <!-- <h class="name">{{p.firstname}} {{p.lastname}}</h><br> -->
                        <label for="name" id="label"> Personal Information</label>
                        <hr style="width: 100%;"><br>
                        <div class="about">
                            <label>Email</label>
                            <input type="email" value="{{p.email}}" class="inp" required name="email">&nbsp;<br>

                            <label>Cellphone</label>
                            <input type="number" value="{{p.cellphone}}" class="inp" name="cellphone">&nbsp;<br>

                            <label>Age</label>
                            <input type="number" value="{{p.age}}" class="inp" required name="age">&nbsp;<br>

                            <label>Civil Status</label>
                            <select class="inp" name="civil">
                                <option value="{{p.civil}}" aria-readonly="true">{{p.civil}}</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Widowed">Widowed</option>
                            </select>&nbsp;<br>

                            <label>Address</label>
                            <input type="text" value="{{p.barangay}}" class="inpt" required name="barangay">
                            <input type="text" value="{{p.municipality}}" class="inpt" required name="municipality">
                            <input type="text" value="{{p.province}}" class="inpt" required name="province">&nbsp;<br>


                            <label>Birthday</label>
                            <input type="text" value="{{p.birthday}}" class="inp1" readonly>
                            <input type="date" class="inpt1" name="birthday" value="{{p.birthday}}">&nbsp;<br>


                            <label>Religion</label>
                            <input type="text" value="{{p.religion}}" class="inp" required placeholder="religion" name="religion">&nbsp;<br>

                            <label>Gender</label>
                            <select class="inp" name="gender">
                                <option value="{{p.gender}}" aria-readonly="true">{{p.gender}}</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>&nbsp;<br> &nbsp;

                            <br><br>
                            <label for="name" id="label"> School Background</label>
                            <hr style="width: 100%;"><br>

                            <label>School</label>
                            <input type="text" value="{{p.school}}" class="inp" required placeholder="School Name" name="school">&nbsp;<br>


                            <label>Department</label>
                            <select class="inp" name="department">
                                <option value="{{p.department}}" aria-readonly="true">{{p.department}}</option>
                                <option value="Junior Highschool">Junior Highschool</option>
                                <option value="Senior Highschool">Senior Highschool</option>
                                <option value="College">College</option>
                                
                            </select>&nbsp;<br>

                            <label>Course</label>
                            <input type="text" value="{{p.course}}" class="inp" placeholder="Course" name="course">&nbsp;<br>

                            <label>Year</label>
                            <input type="text" value="{{p.year}}" class="inp" required placeholder="Year" name="year">&nbsp;<br>

                            <br><br>


                            <label for="name" id="label"> Family Background</label>
                            <hr style="width: 100%;"><br>
                            <!-- 
                            father -->
                            <label>Father's Name</label>
                            <input type="text" value="{{p.fname}}" class="inp" required placeholder="Father's Name" name="father">&nbsp;<br>

                            <label>Father's Contact</label>
                            <input type="number" value="{{p.fcontact}}" class="inp" required placeholder="Father's Contact" name="fcontact">&nbsp;<br>

                            <label>Father's Occupation</label>
                            <input type="text" value="{{p.foccupation}}" class="inp" required placeholder="Father's Occupation" name="foccupation">&nbsp;<br> &nbsp;

                            <br>
                            <!-- MOTHER -->

                            <label>Mother's Name</label>
                            <input type="text" value="{{p.mname}}" class="inp" required placeholder="Mother's Name" name="mother">&nbsp;<br>

                            <label>Mother's Contact</label>
                            <input type="number" value="{{p.mcontact}}" class="inp" required placeholder="Mother's Contact" name="mcontact" <br>

                            <label>Mother's Occupation</label>
                            <input type="text" value="{{p.moccupation}}" class="inp" required placeholder="Mother's Occupation" name="moccupation">&nbsp;<br>&nbsp;<br>


                            <!-- GUARDIAN -->



                            <label>Guardian's Name</label>
                            <input type="text" value="{{p.gname}}" class="inp" required placeholder="Guardian's Name" name="guardian">&nbsp;<br>

                            <label>Guardian's Contact</label>
                            <input type="number" value="{{p.gcontact}}" class="inp" required placeholder="Guardian's Contact" name="gcontact">&nbsp;<br>

                            <label>Guardian's Occupation</label>
                            <input type="text" value="{{p.goccupation}}" class="inp" required placeholder="Guardian's Occupation" name="goccupation">&nbsp;<br>&nbsp;<br>
                            <hr style="width: 100%;"><br>

                            <label>Family Income(Monthly)</label>
                            <input type="text" value="{{p.income}}" class="inp" required placeholder="Estimated Monthly Income" name="income">













                        </div>

                    </div>


                </div>






                {% endfor %}
            </form>
        </div>

    </section><br>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })



        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>


</body>

</html>