<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
    {% include 'activities/navadmin.html' %}
    <div class="text">Profiles</div>
    <hr> {% for d in namess %}

    <img class="image" src="{{d.picture.url}}" alt="profile-pic"><br>

    <hr>
    <p class="perma">Personal Information</p>
    <div class="one">
        <div>
            <input class="names" type="text" value="{{d.firstname}}" readonly>
            <h1 class="labels">First name</h1>
        </div>
        <div>
            <input class="names" type="text" value="{{d.lastname}}" readonly>
            <h1 class="labels">Last name</h1>
        </div>
        <div>
            <input class="names" type="text" value="{{d.middlename}}" readonly>
            <h1 class="labels">Middle name</h1>
        </div>
        <div>
            <input class="names" type="text" value="{{d.extention}}" readonly>
            <h1 class="labels">Suffix</h1>
        </div>
    </div>


    <br><br>

    <br>
    <div class="two">
        <div class="detail8">
            <input type="text" value="{{d.department}}" readonly>
            <h1 class="labels">Department</h1>
        </div>
        <div class="detail6">

            <input type="text" value="{{d.school}}" readonly>
            <h1 class="labels">School</h1>
        </div>
        <div class="detail3">

            <input type="text" value="{{d.course}}" readonly>
            <h1 class="labels">Course</h1>
        </div>
        <div class="detail4">

            <input type="text" value="{{d.year}}" readonly>
            <h1 class="labels">Year</h1>
        </div>

    </div><br>
    <hr>
    <div class="division">
        <div class="left">
            <div class="detail1">

                <input class="content" type="text" placeholder="birthdate" name="birthday" value="{{d.birthday}}" readonly>
                <h1 class="labels">Birthday</h1>
            </div>
            <br>
            <div class="detail2">

                <input type="text" class="content" required name="birthplace" value="{{d.birthplace}}" readonly>
                <h1 class="labels">Birthplace</h1>
            </div>
            <br>
            <div class="detail10">

                <input type="text" value="{{d.religion}}" readonly class="content">
                <h1 class="labels">Religion</h1>
            </div><br>
            <div class="details12">

                <input type="text" class="content" name="cellphone" value="{{d.cellphone}}" readonly>
                <h1 class="labels">Cellphone number</h1>

            </div>


        </div>
        <div class="right">
            <div class="detail7">

                <input type="text" value="{{d.gender}}" readonly class="content">
                <h1 class="labels">Gender</h1>
            </div><br>
            <div class="detail11">

                <input type="text" name="age" class="content" value="{{d.age}}" readonly>
                <h1 class="labels">Age</h1>
            </div><br>
            <div class="detail4">

                <input type="email" name="email" class="content" readonly value="{{d.email}}">
                <h1 class="labels">Email</h1>
            </div><br>
            <div class="detail3">

                <input type="text" readonly value="{{d.civil}}" class="content">
                <h1 class="labels">Civil Status</h1>
            </div><br>
        </div>

    </div>
    <br><br>&nbsp;<br><br> &nbsp;
    <br><br>&nbsp;<br><br>&nbsp;<br><br>&nbsp;<br><br>
    <hr>
    <p class="perma">Permanent Address</p>
    <div class="division2">
        <div class="left2">
            <div class="unt">
                <input type="text" name="unit" class="unit" placeholder="Unit #" readonly value="{{d.unit}}">
                <h1 class="labels">Unit #</h1>
            </div><br>


            <div class="strt">
                <input type="text" name="street" class="street" placeholder="Street" readonly value="{{d.street}}">
                <h1 class="labels">Street</h1>
            </div><br>
            <div class="brgy">

                <input type="text" name="barangay" class="barangay" placeholder="barangay" readonly value="{{d.barangay}}">
                <h1 class="labels">Barangay</h1>

            </div>



            <div class="muni">

                <input type="text" class="municipality" required name="municipality" placeholder="Municipality" readonly value="{{d.municipality}}">
                <h1 class="labels">Municipality</h1>
            </div><br>
            <div class="prov">

                <input type="text" class="province" required name="province" placeholder="Province" readonly value="{{d.province}}">
                <h1 class="labels">Province</h1>
            </div>



        </div>
        <hr>
        <p class="perma">Family Background</p>

    </div>

    <div class="division3">
        <div class="left3">
            <div>
                <p class="parents">FATHER</p>
                <input type="text" class="content" name="father" placeholder="Father's Name" readonly value="{{d.fname}}">
                <h1 class="labels">Father's name</h1>
            </div><br>
            <div>

                <input type="text" class="content" name="fcontact" placeholder="Father's contact number" readonly value="{{d.fcontact}}">
                <h1 class="labels">Contact</h1>

            </div><br>
            <div>

                <input type="text" name="foccupation" class="content" placeholder="Father's Work" readonly value="{{d.foccupation}}">
                <h1 class="labels">Occupation</h1>
            </div>




        </div>
        <div class="right3">
            <div>
                <p class="parents">MOTHER</p>

                <input type="text" class="content" name="mother" placeholder="Mother's Name" readonly value="{{d.mname}}">
                <h1 class="labels">Mother's name</h1>
            </div><br>
            <div>

                <input type="text" class="content" name="mcontact" placeholder="Mother's contact number" readonly value="{{d.mcontact}}">
                <h1 class="labels">Contact</h1>

            </div><br>
            <div>

                <input type="text" name="moccupation" class="content" placeholder="Mother's Work" readonly value="{{d.moccupation}}">
                <h1 class="labels">Occupation</h1>
            </div>

        </div>

    </div>
    <hr>
    <div class="division4">
        <div class="leftss">
            <div>
                <p class="parents">GUARDIAN</p>

                <input type="text" class="guardian" name="guardian" placeholder="Guardian's Name" readonly value="{{d.gname}}"> </div><br>
            <h1 class="labels">Guardian's name</h1>
            <div>

                <input type="text" class="guardian" name="gcontact" placeholder="Guardian's contact number" readonly value="{{d.gcontact}}">
                <h1 class="labels">Contact</h1>

            </div><br>
            <div>

                <input type="text" name="goccupation" class="guardian" placeholder="Guardian's Work" readonly value="{{d.goccupation}}">
                <h1 class="labels">Occupation</h1>
            </div>
        </div>
    </div>
    <hr>
    <p class="perma">Family Income</p>
    <div class="left6">
        <div>

            <input type="text" readonly value="{{d.income}}" class="inc">
            <h1 class="labels">Income</h1>
        </div><br>

    </div>

    {% endfor %}
</body>

</html>