.conts {
    height: 120vh;
}

.inner {
    width: 90%;
    height: 110vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.left {
    height: 75vh;
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
}

.right {
    margin-right: 50px;
    margin-top: 50px;
    height: 75vh;
    width: 60%;
    float: right;
}

.left .profile {
    margin: auto;
    display: flex;
    border-radius: 50%;
}

.name {
    font-size: 25px;
    font-weight: bolder;
}

#label {
    color: rgb(10, 117, 205);
}


/* .about {
    display: inline-flex;
} */

.about label {
    font-size: 15px;
    width: 200px;
    font-weight: bold;
    float: left;
}

.email {
    float: left;
    color: rgb(10, 117, 205);
}

.edi {
    color: rgb(68, 68, 68);
    margin-top: 20px;
    float: right;
    margin-right: 50px;
    font-style: normal;
    background-color: rgb(197, 197, 197);
    width: 130px;
    text-align: center;
    border-radius: 5px;
}

.personal {
    font-size: 20px;
}